@model ParqueFerroviarioAlberto.Models.Tren

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tren</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diesel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diesel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fabricado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fabricado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idEstacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEstacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTren }) |
    @Html.ActionLink("Back to List", "Index")
</p>
