@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
<img src="https://img.blogs.es/anexom/wp-content/uploads/2018/10/18868134140_db36602d26_k.jpg" alt="Trulli" width="950" height="700 ">
<h1>ParqueFerroviario</h1>
<p class="lead">Bienvenidos a la base de datos ParqueFerroviario conectada a web.</p>
<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-2">
        <h2>@Html.ActionLink("Articulo", "Index", "Articulo")</h2>
        <p>
        </p>
    </div>

    <div class="col-md-2">
        <h2>@Html.ActionLink("Ciudad", "Index", "Ciudad")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2>@Html.ActionLink("Empleado", "Index", "Empleado")</h2>
        <p></p>
    </div>
    <div class="col-md-2">
        <h2>@Html.ActionLink("Empresas", "Index", "Empresas")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2>@Html.ActionLink("Estacion", "Index", "Estacion")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2>@Html.ActionLink("Estado", "Index", "Estado")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2>@Html.ActionLink("Patio", "Index", "Patio")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2>@Html.ActionLink("Proveedor", "Index", "Proveedor")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2>@Html.ActionLink("Puesto", "Index", "Puesto")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2>@Html.ActionLink("Ruta", "Index", "Ruta")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2>@Html.ActionLink("Tallers", "Index", "Tallers")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2>@Html.ActionLink("Tren", "Index", "Tren")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2>@Html.ActionLink("Vagon", "Index", "Vagon")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2>@Html.ActionLink("Viaje", "Index", "Viaje")</h2>
        <p></p>
    </div>
    <div class="col-md-2">
        <h2>@Html.ActionLink("Compra", "Index", "Compra")</h2>
        <p></p>
    </div>
    <div class="col-md-2">
        <h2>@Html.ActionLink("CompraArticulo", "Index", "CompraArticulo")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2>@Html.ActionLink("TrenEmpleado", "Index", "TrenEmpleado")</h2>
        <p></p>
    </div>
    
</div>