@model ParqueFerroviarioAlberto.Models.CompraArticulo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompraArticulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCompraArticulo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
