@model IEnumerable<ParqueFerroviarioAlberto.Models.CompraArticulo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idArticulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idArticulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCompraArticulo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCompraArticulo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCompraArticulo })
        </td>
    </tr>
}

</table>
